<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>User Registration</h1>
<form action="registration" method="post">
<label>Username:</label>
<input type="text" name="username"/>
<br>
<label>Email:</label>
<input type="text" name="email">
<br>
<label>Password</label>
<input type="password" name="password">
<br>
<label>Role:</label>
<input type="radio" name="role" value="Admin">Admin
<input type="radio" name="role" value="User">User
<br>
<label>Address:</label>
<textarea name="address"></textarea>
<br>
<input type="submit">
</form>
</body>
</html>